<section class="container-fluid d-none">
      <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Expand at xl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="form-group input-group mb-3">
			<div class="input-group-prepend">
				   <select class="form-control" id="state">
				     <option selected>All</option>
				     <option>Hessen</option>
				     <option>Berlin</option>
				   </select>
				</div>
			<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
			<div class="input-group-append">
				 <span class="input-group-text"><i class="fas fa-search"></i></span>
			</div>
		</div>
      </nav>
</section>