
	<ul class="list-unstyled our-team">
		<li class="btn-lg gdsd-btn">
			<a href="/our-team/khim">KHIM BAHADUR GURUNG</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="/our-team/khim">SHREYA</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="/our-team/khim">AHMAD</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="/our-team/behzad">BEHZAD TAGHIPOUR ZARFSAZ</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="/our-team/khim">ROONJHUN</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="/our-team/khim">SAYED</a>
		</li>
	</ul> 