
	<ul class="list-unstyled our-team">
		<li class="btn-lg gdsd-btn">
			<a href="our-team/khim">Khim Bahadur Gurung</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="our-team/shreya">Shreya Harkangi</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="our-team/khim">AHMAD</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="our-team/behzad">Behzad Taghipour Zarfsaz</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="our-team/khim">Roonjhun</a>
		</li>
		<li class="btn-lg gdsd-btn">
			<a href="our-team/khim">Sayed</a>
		</li>
	</ul> 
